HPDriverPackManifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SoftPaqTitle" type="xs:string"/>
	<xs:element name="Version" type="xs:string"/>
	<xs:element name="SoftPaqNumber" type="xs:string"/>
	<xs:element name="Dir" type="xs:string"/>
	<xs:element name="IncludedDir">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>The list of locations to driver files in a SoftPaq</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element ref="Dir" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SoftPaq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SoftPaqNumber"/>
				<xs:element ref="SoftPaqTitle"/>
				<xs:element ref="Version"/>
				<xs:element ref="IncludedDir"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DriverPackTitle" type="xs:string"/>
	<xs:element name="CreatedTime" type="xs:dateTime"/>
	<xs:element name="Author" type="xs:string"/>
	<xs:element name="Tool" type="xs:string"/>
	<xs:element name="GeneratedBy">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Tool"/>
				<xs:element ref="Version"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Info">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>The general information about an HP driver pack</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element ref="DriverPackTitle"/>
				<xs:element ref="CreatedTime"/>
				<xs:element ref="Author"/>
				<xs:element ref="GeneratedBy"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IncludedSoftPaq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SoftPaq" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HPDriverPack">
		<xs:annotation>
			<xs:documentation>All the information about an HP driver pack</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Info"/>
				<xs:element ref="IncludedSoftPaq"/>
			</xs:sequence>
			<xs:attribute name="schemaVersion" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\d{1,5}\.\d{1,5}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
